{{#extend "layout-contact"}}
{{#content "title"}}お問い合わせ{{/content}}
{{#content "category"}}contact{{/content}}
{{#content "body"}}

<section class="section is-medium">
  <div class="container">
    <div class="content block-entry is-slim">

<h2>入力内容の確認</h2>
<p>以下の内容でよろしければ、ページ下部の送信ボタンを押してください。<br>
誤りがある場合は、前画面に戻って再度ご入力ください。</p>

<label class="label">お名前</label>
  <p class="control is-expanded">{$お名前.value}</p>

<label class="label">ふりがな</label>
  <p class="control is-expanded">{$ふりがな.value}</p>

<label class="label">メールアドレス</label>
<p class="control is-expanded">{$メールアドレス.value}</p>

<label class="label">電話番号</label>
<p class="control is-expanded">{$電話番号.value}</p>

<label class="label">お問い合わせ内容</label>
<p class="control is-expanded">{$お問い合わせ内容.value}</p>

  <p class="control is-expanded">
  <div class="has-text-centered">
  <form method="post" action="index.php" class="inline">
    {$hiddens}
    <input type="hidden" name="page" value="finish">
    <input type="submit" class="button is-medium is-info" value=" 送信する ">
  </form>
  <form method="post" action="index.php" class="inline" name="defaultLink">
    {$hiddens}
    <input type="hidden" name="page" value="input">
    <input type="submit" class="button is-medium is-info is-outlined" value=" 前に戻る ">
  </form>
      </div>
   </p>
</div>

  </div>
</section>

{{/content}}
{{/extend}}