{{#extend "layout-contact"}}
{{#content "title"}}お問い合わせ{{/content}}
{{#content "category"}}contact{{/content}}
{{#content "body"}}

<section class="section is-medium">
  <div class="container">
    <div class="content block-entry is-slim">

            <h2>送信完了</h2>
            <p>この度はお問合せメールをお送りいただきありがとうございます。<br>
後ほど、担当よりご連絡をさせていただきます。<br>
今しばらくお待ちくださいますようよろしくお願い申し上げます。</p>
        </div>

  </div>
</section>

{{/content}}
{{/extend}}