{{#extend "layout"}}
{{#content "title"}}Components{{/content}}
{{#content "body"}}

<section class="section is-medium">
    <div class="container">
        <div class="content block-entry">
            <h2 id="chapter01">メッセージパネル</h2>
            <h3>メッセージパネルの色指定</h3>
            <article class="message">
                <div class="message-header">
                    メッセージパネル(標準)
                </div>
                <div class="message-body">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。
                </div>
            </article>
            <article class="message is-primary">
                <div class="message-header">
                    メッセージパネル(Primary)
                </div>
                <div class="message-body">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。
                </div>
            </article>
            <article class="message is-info">
                <div class="message-header">
                    メッセージパネル(Info)
                </div>
                <div class="message-body">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。
                </div>
            </article>
            <article class="message is-success">
                <div class="message-header">
                    メッセージパネル(success)
                </div>
                <div class="message-body">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。
                </div>
            </article>
            <article class="message is-warning">
                <div class="message-header">
                    メッセージパネル(warning)
                </div>
                <div class="message-body">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。
                </div>
            </article>
            <article class="message is-danger">
                <div class="message-header">
                    メッセージパネル(danger)
                </div>
                <div class="message-body">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。
                </div>
            </article>
            <hr>
            <h2 id="chapter02">タブ</h2>
            <h3>通常のタブ</h3>
            <div class="tabs">
                <ul>
                    <li class="is-active"><a>Pictures</a></li>
                    <li><a>Music</a></li>
                    <li><a>Videos</a></li>
                    <li><a>Documents</a></li>
                </ul>
            </div>
            <h3>中央寄せのタブ</h3>
            <div class="tabs is-centered">
                <ul>
                    <li class="is-active"><a>Pictures</a></li>
                    <li><a>Music</a></li>
                    <li><a>Videos</a></li>
                    <li><a>Documents</a></li>
                </ul>
            </div>
            <h3>右寄せのタブ</h3>
            <div class="tabs is-right">
                <ul>
                    <li class="is-active"><a>Pictures</a></li>
                    <li><a>Music</a></li>
                    <li><a>Videos</a></li>
                    <li><a>Documents</a></li>
                </ul>
            </div>
<hr>
            <h2 id="chapter03">モーダル</h2>
            <h3>通常のモーダル</h3>
            <p>
                <a class="button is-primary is-large modal-button" data-target="#modal01">通常のモーダル</a>
            </p>
            <div class="modal" id="modal01">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="http://placehold.it/128x128" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>鈴木 一郎</strong> <small>@johnsmith</small> <small>31m</small>
              <br>
              この文章はダミーテキストです。この文章はダミーテキストです。この文章はダミーテキストです。この文章はダミーテキストです。この文章はダミーテキストです。
            </p>
          </div>
        </div>
      </article>
    </div>
                </div>
                <button class="modal-close"></button>
            </div>
            <h3>画像のモーダル</h3>
            <p>
                <a class="button is-primary is-large modal-button" data-target="#modal02">画像のモーダル</a>
            </p>
            <div class="modal" id="modal02">
                <div class="modal-background">&nbsp;</div>
                <div class="modal-content">
                    <p class="image">
                        <img src="http://placehold.it/800x400">
                    </p>
                </div>
                <button class="modal-close"></button>
            </div>
            
        </div>
    </div>
</section>

{{/content}}
{{/extend}}
