{{#extend "layout"}}
{{#content "title"}}お知らせの詳細{{/content}}
{{#content "body"}}


  <section class="section" id="feature01">
    <div class="container">
     <div class="content block-entry">
     <article class="article">
      <p class="subtitle is-5">2016/07/01</p>
      <h2 class="title">ダミータイトルダミータイトル</h2>
          <h3 class="title">セクション1</h3>
           <div class="columns">
            <div class="column"><img src="{{ site.root }}assets/images/base/sample-image.png" alt=""></div>
            <div class="column"><p>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
<p>
ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p></div>
          </div>

          <h3 class="title">セクション2</h3>
<p>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
<p>
ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
        </article>
        </div>
        </div>
   </section>

{{/content}}
{{/extend}}