{{#extend "layout"}}
{{#content "title"}}Grid{{/content}}
{{#content "body"}}

  <section class="section is-medium">
    <div class="container">
      <div class="content block-entry">
      <h2>グリッド</h2>
        <p>このページは只今作成中です</p>
      </div>
    </div>
  </section>

{{/content}}
{{/extend}}