{{#extend "layout"}}
{{#content "title"}}Grid{{/content}}
{{#content "body"}}

  <section class="section is-medium">
    <div class="container">
      <div class="content block-entry">
      <h2>グリッド</h2>
      <h3>4列にする場合</h3>
<div class="columns">
    <div class="column">
        <p class="notification is-info">ダミーテキスト1ダミーテキスト1ダミーテキスト1ダミーテキスト1ダミーテキスト1</p>
    </div>
    <div class="column">
        <p class="notification is-info">ダミーテキスト2ダミーテキスト2ダミーテキスト2ダミーテキスト2ダミーテキスト2</p>
    </div>
    <div class="column">
        <p class="notification is-info">ダミーテキスト3ダミーテキスト3ダミーテキスト3ダミーテキスト3ダミーテキスト3</p>
    </div>
    <div class="column">
        <p class="notification is-info">ダミーテキスト4ダミーテキスト4ダミーテキスト4ダミーテキスト4ダミーテキスト4</p>
    </div>
</div>
      <h3>2列にする場合</h3>
      <div class="columns">
    <div class="column">
        <p class="notification is-info">ダミーテキスト1ダミーテキスト1ダミーテキスト1ダミーテキスト1ダミーテキスト1</p>
    </div>
    <div class="column">
        <p class="notification is-info">ダミーテキスト2ダミーテキスト2ダミーテキスト2ダミーテキスト2ダミーテキスト2</p>
    </div>
</div>
      </div>
    </div>
  </section>

{{/content}}
{{/extend}}