{{#extend "layout"}}
{{#content "title"}}Components{{/content}}
{{#content "body"}}

<section class="section is-medium">
    <div class="container">
        <div class="content block-entry">
            <h2>その他</h2>
            <ul>
<li>1.横幅100%表示</li>
<li>2.真ん中揃え</li>
<li>3.左揃え</li>
<li>4.右揃え</li>
</ul>
<p>上記４点をボタンに適用してみます。</p>
            <h3>横幅100%表示</h3>
<a class="button is-fullwidth">Button</a>
            <h3>真ん中揃え</h3>
<a class="button has-text-centered">Button</a>
            <h3>左揃え</h3>
<a class="button has-text-left">Button</a>
            <h3>右揃え</h3>
            <a class="button has-text-right">Button</a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}
