{{#extend "layout-home"}}
{{#content "title"}}トップページ{{/content}}
{{#content "body"}}

<section class="hero is-info is-medium">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
        THE SOUL OF STEEL
      </h1>
        <h2 class="subtitle">
        私たちは、品質、スピード、機動力を追求します
      </h2>
        <div class="u-mtx hero-btn">
          <a class="button is-info is-inverted is-large" href="#">VIEW INTRODUCTION</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="notification">
            <a href="#">
              <p class="title is-3"><strong>京都の名所</strong></p>
              <p class="text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー（全角約60文字）</p>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="notification">
            <a href="#">
              <p class="title is-3"><strong>社員のコメント</strong></p>
              <p class="text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー（全角約60文字）</p>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="notification">
            <a href="#">
              <p class="title is-3"><strong>よくある質問</strong></p>
              <p class="text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー（全角約60文字）</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-medium">
    <div class="container">
      <div class="block-entry content">
        <h2 class="title is-3 has-text-centered">お知らせ</h2>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトルダミータイトルダミータイトルダミータイトルダミータイトルダミータイトルダミータイトル</a></div>
        </article>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトル</a></div>
        </article>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトル</a></div>
        </article>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトルダミータイトルダミータイトル</a></div>
        </article>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトル</a></div>
        </article>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトルダミータイトルダミータイトル</a></div>
        </article>
        <p align="right">&gt;<a href="info.html">お知らせ一覧へ</a></p>
      </div>
    </div>
  </section>

{{/content}}
{{/extend}}