{{#extend "layout-home"}}
{{#content "title"}}トップページ{{/content}}
{{#content "body"}}

<section class="hero is-info is-medium">
    <section class="section is-main-img is-top">
<div class="bg-main">
      <div class="container">
      <ul class="slider single-item">
          <li><img src="http://placehold.it/1000x400/42afe3/"></li>
          <li><img src="http://placehold.it/1000x400/97cd76/"></li>
          <li><img src="http://placehold.it/1000x400/f68b39/"></li>
          <li><img src="http://placehold.it/1000x400/847bb9/"></li>
          <li><img src="http://placehold.it/1000x400/ed6c63/"></li>
        </ul>
      </div>
</div>
</section>
  </section>
  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="notification">
            <a href="#">
              <p class="title is-3"><strong>京都の名所</strong></p>
              <p class="text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー（全角約60文字）</p>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="notification">
            <a href="#">
              <p class="title is-3"><strong>社員のコメント</strong></p>
              <p class="text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー（全角約60文字）</p>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="notification">
            <a href="#">
              <p class="title is-3"><strong>よくある質問</strong></p>
              <p class="text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー（全角約60文字）</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-medium">
    <div class="container">
      <div class="block-entry content">
        <h2 class="title is-3 has-text-centered">お知らせ</h2>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトルダミータイトルダミータイトルダミータイトルダミータイトルダミータイトルダミータイトル</a></div>
        </article>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトル</a></div>
        </article>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトル</a></div>
        </article>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトルダミータイトルダミータイトル</a></div>
        </article>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトル</a></div>
        </article>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトルダミータイトルダミータイトル</a></div>
        </article>
        <p align="right">&gt;<a href="info.html">お知らせ一覧へ</a></p>
      </div>
    </div>
  </section>

{{/content}}
{{/extend}}