{{#extend "layout"}}
{{#content "title"}}お知らせ{{/content}}
{{#content "body"}}

  <section class="section is-medium">
    <div class="container">
      <div class="content block-entry">
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトルダミータイトルダミータイトルダミータイトルダミータイトルダミータイトルダミータイトル</a></div>
        </article>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトル</a></div>
        </article>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトル</a></div>
        </article>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトルダミータイトルダミータイトル</a></div>
        </article>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトル</a></div>
        </article>
        <article class="columns entry is-gapless">
          <div class="entry__date column is-2">
            <time>2016/04/23</time>
          </div>
          <div class="entry__title column"><a href="details.html">ダミータイトルダミータイトルダミータイトルダミータイトル</a></div>
        </article>
      </div>
    </div>
  </section>

{{/content}}
{{/extend}}