{{#extend "layout"}}
{{#content "title"}}table{{/content}}
{{#content "body"}}

  <section class="section is-medium">
    <div class="container">
      <div class="content block-entry">
      <h2>テーブル</h2>
      <h3>標準のtable</h3>
<table class="table">
                <tr>
                    <th>店舗名</th>
                    <th>営業時間</th>
                    <th>休業日</th>
                    <th>電話番号</th>
                </tr>
                <tr>
                    <td>食堂</td>
                    <td>平日　8：30～20：30
                        <br>土曜　10：00～18：30</td>
                    <td>
                        土・日・祝日
                    </td>
                    <td>
                        000-000-0000
                    </td>
                </tr>
                <tr>
                    <td>コンビニ</td>
                    <td>平日　8：30～20：30
                        <br>土曜　10：00～18：00</td>
                    <td>
                        日・祝日
                    </td>
                    <td>
                        111-111-1111
                    </td>
                </tr>

            </table>

      <h3>2.borderを入れたtable</h3>
<table class="table is-bordered">
                <tr>
                    <th>店舗名</th>
                    <th>営業時間</th>
                    <th>休業日</th>
                    <th>電話番号</th>
                </tr>
                <tr>
                    <td>食堂</td>
                    <td>平日　8：30～20：30
                        <br>土曜　10：00～18：30</td>
                    <td>
                        土・日・祝日
                    </td>
                    <td>
                        000-000-0000
                    </td>
                </tr>
                <tr>
                    <td>コンビニ</td>
                    <td>平日　8：30～20：30
                        <br>土曜　10：00～18：00</td>
                    <td>
                        日・祝日
                    </td>
                    <td>
                        111-111-1111
                    </td>
                </tr>

            </table>
      <h3>3.ストライプのtable</h3>
<table class="table is-striped">
                <tr>
                    <th>店舗名</th>
                    <th>営業時間</th>
                    <th>休業日</th>
                    <th>電話番号</th>
                </tr>
                <tr>
                    <td>食堂</td>
                    <td>平日　8：30～20：30
                        <br>土曜　10：00～18：30</td>
                    <td>
                        土・日・祝日
                    </td>
                    <td>
                        000-000-0000
                    </td>
                </tr>
                <tr>
                    <td>コンビニ</td>
                    <td>平日　8：30～20：30
                        <br>土曜　10：00～18：00</td>
                    <td>
                        日・祝日
                    </td>
                    <td>
                        111-111-1111
                    </td>
                </tr>

            </table>
      <h3>4.セルの余白を狭くしたもの</h3>
<table class="table is-narrow">
                <tr>
                    <th>店舗名</th>
                    <th>営業時間</th>
                    <th>休業日</th>
                    <th>電話番号</th>
                </tr>
                <tr>
                    <td>食堂</td>
                    <td>平日　8：30～20：30
                        <br>土曜　10：00～18：30</td>
                    <td>
                        土・日・祝日
                    </td>
                    <td>
                        000-000-0000
                    </td>
                </tr>
                <tr>
                    <td>コンビニ</td>
                    <td>平日　8：30～20：30
                        <br>土曜　10：00～18：00</td>
                    <td>
                        日・祝日
                    </td>
                    <td>
                        111-111-1111
                    </td>
                </tr>

            </table>
      <h3>5.1-4をすべていれたもの</h3>
<table class="table is-bordered is-striped is-narrow">
                <tr>
                    <th>店舗名</th>
                    <th>営業時間</th>
                    <th>休業日</th>
                    <th>電話番号</th>
                </tr>
                <tr>
                    <td>食堂</td>
                    <td>平日　8：30～20：30
                        <br>土曜　10：00～18：30</td>
                    <td>
                        土・日・祝日
                    </td>
                    <td>
                        000-000-0000
                    </td>
                </tr>
                <tr>
                    <td>コンビニ</td>
                    <td>平日　8：30～20：30
                        <br>土曜　10：00～18：00</td>
                    <td>
                        日・祝日
                    </td>
                    <td>
                        111-111-1111
                    </td>
                </tr>

            </table>
      <h3>6.横にスクロールするテーブル</h3>
<div class="scroll-table-wrapper">
                <div class="scroll-table-container">
                    <table class="table scroll-table">
                        <tr>
                            <th>店舗名</th>
                            <th>営業時間</th>
                            <th>休業日</th>
                            <th>電話番号</th>
                        </tr>
                        <tr>
                            <td>食堂</td>
                            <td>平日　8：30～20：30
                                <br>土曜　10：00～18：30</td>
                            <td>
                                土・日・祝日
                            </td>
                            <td>
                                000-000-0000
                            </td>
                        </tr>
                        <tr>
                            <td>コンビニ</td>
                            <td>平日　8：30～20：30
                                <br>土曜　10：00～18：00</td>
                            <td>
                                日・祝日
                            </td>
                            <td>
                                111-111-1111
                            </td>
                        </tr>
                        <tr>
                            <td>ブック＆ショップ</td>
                            <td>平日　10：00～19：00
                                <br>PC相談・修理18：00まで
                                <br>土曜　10：00～15：00</td>
                            <td>
                                日・祝日
                            </td>
                            <td>
                                ブック：075-251-4427
                                <br>ショップ：075-251-4431
                            </td>
                        </tr>
                    </table>
                </div>
      </div>
    </div>
  </section>

{{/content}}
{{/extend}}