<section class="section">
  <div class="container">
    <div class="contactArea">
      <h2 class="title has-text-centered">お問い合わせ</h2>
        <div class="columns">
          <div class="column">
            <div class="has-text-centered">
            <a class="button is-large is-info" href="{{ site.root }}contact/">お問い合わせはこちら</a>
            </div>
          </div>
          <div class="column">
            <div class="contactArea__number has-text-centered">TEL:0000-00-0000</div>
          </div>
        </div>
    </div>
  </div>
</section>
