<div class="pageTopLink"> <a href="#top"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a> </div>
 <footer class="footer">
      <div class="container">
        <div class="footer__inner content has-text-centered">
         <ul>
          <li><a href="{{ site.root }}">ホーム</a></li>
          <li><a href="info.html">お知らせ</a></li>
          <li><a href="grid.html">grid</a></li>
          <li><a href="table.html">table</a></li>
          <li><a href="elements.html">elements</a></li>
          <li><a href="components.html">components</a></li>
          <li><a href="helpers.html">helpers</a></li>
        </ul>
        <div class="footer__copy">&copy; {{ site.copyright }} All Rights Reserved.</div>
      </div>
 </footer>
