<section class="hero">
  <div class="hero-head">
    <div class="container has-text-centered">
      <nav class="nav">
        <div class="nav-left">
          <a class="nav-item" href="{{ site.root }}"> <img src="{{ site.root }}assets/images/base/logo.png" alt="Logo"> </a>
        </div>
        <span id="nav-toggle" class="nav-toggle">
         <span></span> 
         <span></span> 
         <span></span> 
        </span>
        <div class="nav-right nav-menu" id="nav-menu">
          <span class="nav-item"><a href="info.html">お知らせ</a></span> 
          <span class="nav-item"><a href="grid.html">grid</a></span> 
          <span class="nav-item"><a href="table.html">table</a></span> 
          <span class="nav-item"><a href="elements.html">elements</a></span> 
          <span class="nav-item"><a href="components.html">components</a></span> 
          <span class="nav-item"><a href="helpers.html">helpers</a></span>
        </div>
      </nav>
    </div>
  </div>
</section>
