<section class="hero has-bgImage">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
       {{#block "title"}}{{/block}}
      </h1>
      <!--<h2 class="subtitle">
        subtitleを入れる場合
      </h2>-->
    </div>
  </div>
</section>
