<section class="section">
  <div class="container">
    <div class="page__header">
      <h1 class="title">
       {{#block "title"}}{{/block}}
      </h1>
      <!--<h2 class="subtitle">
        subtitleを入れる場合
      </h2>-->
    </div>
  </div>
</section>
