<div class="notification">
<h3>カテゴリー</h3>
          <ul>
            <li><a href="">特別なテキスト配置処理が付いて</a></li>
            <li><a href="">特別なテキスト配置処理が付いて</a></li>
            <li><a href="">特別なテキスト配置処理が付いて</a></li>
            <li><a href="">特別なテキスト配置処理が付いて</a></li>
          </ul>
</div>